:root {
  --accent-color: #f3848c;
  --primary-text-color: #3c322d;
  --second-text-color: #ffffff;
  --regist-bg: #f6f7f7;
  --speakers-bg: rgba(243, 132, 140, 29%);
  --price-card-bg: #fafbfb;
  --rate-stars-color: #edd501;
  --placeholder-text: rgba(0, 0, 0, 50%);
  --footer-icon-social-color: #2e2520;
  --regist-placeholder-and-border: #2e2520;
}
